@model Spice.ViewModel.LandingPageViewModel

@{
    ViewData["Title"] = "Home Page";
}
@*Display Coupon*@
@*Note you are calling here the count Method, so make sure you type it as ..Count()>0, with braces*@
@if (Model.Coupon.ToList().Count() > 0)
{
    <div class="border">
        @*the data interval determine how quickly the copon should be displayed.*@
        <div class="carousel" data-ride="carousel" data-interval="1000">

            @for (int i = 0; i < Model.Coupon.Count(); i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[0].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        @*Below we are now actually display image.*@
                        <img src="@imgsrc" height="50" class="d-block w-100" />
                    </div>
                }
                else
                {// it will displayed when not active.
                    <div class="carousel-item">
                        @{
                            var base64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                        }
                        <img src="@imgsrc" height="50" class="d-block w-100" />
                    </div>
                }
            }
        </div>
    </div>

}

<br>
<br>

<br>
@*Displaying list and options for user selection to select what the want to see which category items*@ 
<div class="container">
    <a class="btn btn-success btn-lg" asp-action="Index" asp-controller="Home">Show All</a>
    @foreach (var item in Model.Category)
    {
        <a class="btn btn-success btn-lg" asp-action="Index" asp-route-id="@item.Id">@item.Name</a>
    }
</div>
<br />

@*Displaying list MenuItems and Its category on the top*@

@foreach (var Cat in Model.Category)
{
    //This if statement display show only those categories that has products or menuitem
    //If you remove this if statement it will show also those categories with no products/items
   @if (Model.MenuItem.Where(u => u.Category.Name.Equals(Cat.Name)).Count() > 0)
    {
        //To Display the category name once only, 
    <h2 class="text-capitalize text-black-50">@Cat.Name </h2>

        //Now displaying/looping through thoses menu items where the category name is the same as above
    @foreach (var item in Model.MenuItem.Where(u => u.Category.Name.Equals(Cat.Name)))
    {
        <div class="border border-info rounded col-12" style="margin-bottom:10px; margin-top:10px; padding:10px">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <img src="@item.Image" width="99%" style="border-radius:5px;border:1px solid #bbb9b9" />
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="row pr-3">
                        <div class="col-8">
                            <label class="text-primary" style="font-size:21px;color:maroon">@item.Name</label>
                            @if (item.Spycness == "1")
                            {
                                <img srcset="/images/mild.png" title="Mild" />
                            }
                            @if (item.Spycness == "2")
                            {
                                <img srcset="/images/spicy.png" title="Spicy" />
                            }
                            @if (item.Spycness == "3")
                            {
                                <img srcset="/images/veryspicy.png" title="Very Spicy" />
                            }
                        </div>
                        <div class="col-4 text-right" style="color:maroon">
                            <h4>$@item.Price</h4>
                        </div>
                    </div>
                    <div class="row col-12 text-justify d-none d-md-block">
                        <p>@Html.Raw(item.Description)</p>
                    </div>
                    <div class="col-md-3 col-sm-12 offset-md-9 text-center">
                        <a asp-action="Details" class="btn btn-success form-control" asp-route-id="@item.Id" asp-controller="MenuItems" asp-area="Admin">Details</a>
                    </div>
                </div>
            </div>
        </div>
    }


        //Added some padding when each catgory is displayed
    <div class="p-2"></div>
    }
}


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">

    </script>
}
